# fly.toml app configuration file generated for openclaw-gw on 2026-03-01T22:57:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'openclaw-gw'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 18789
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
